*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {

    --snitap-sun: #FFCD1E;
    --snitap-sky-mid: #06B6D4;
    --snitap-sky-light: #67E8F9;
    --snitap-joy-mid: #DB2777;
    --snitap-joy-light: #F472B6;
    --snitap-leaf-mid: #16A34A;

    
    --ff-base: "Montserrat", sans-serif;

    --text: #000000;
    --highlights: #000000;
    --background: #FAFAFA;

    --fw-lg: 700;
    --fw-base: 500;
    
    --fs-xl:4rem;
    --fs-lg: 2.5rem;
    --fs-base: 1rem;
    --fs-sm: 0.875rem;


}

html, button{
    font: 500 1rem/1.5 var(--ff-base);
}

h1,h2{
 font-family: 'Syne', sans-serif;
}

h1{
    font-size: var(--fs-xl);
    line-height: 1.25;

}

h2{
    font-size: var(--fs-lg);
    line-height: 1.2;
}

a{
    color: inherit;
    text-decoration: none;
}