header{
    max-width: 80rem;
    width: 100%;
    padding-block: 2rem;
    padding-inline: 1.25rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
    

    img{
        width: 2rem;
        height: 2rem;

        transition: transform 500ms;
    }
    img[src*="logo"]:hover{
        transform: rotate(90deg);
    }

    img[src*="shopping"]:hover{
        transform: rotate(-30deg);
    }

    a{
        position: relative;
    }

    span{
        position: absolute;
        top: -0.5rem;
        right: -0.5rem;

        background-color: var(--snitap-sun);
        width: 1.25rem;
        height: 1.25rem;
        border-radius: 50%;
        font: 500 0.75rem/1.3 "Inter", sans-serif;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}